<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <title>Packet Labs ESXi Configurator</title>
    </head>
    <body>
        <h1>ESXi Configurator</h1>
        <br>

        {% if error_message %}<div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>{% endif %}

        <form action="/buildconfig" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="NetworkMode">Network Configuration Mode</label>
                <select class="form-control" name="NetworkMode" id="NetworkMode">
                    <option value="4">Management on 1st Public IP and 1st Private IP configured on vmkernel1</option>
                    <option value="3">Management on 1st Public IP only</option>
                    <option value="2" selected>Management on 1st Private IP (recommended)</option>
                    <option value="1">Management using DHCP</option>
                    <option value="0">Manual Configuration</option>
                </select>
            </div>

            <div id="IPconfig0">
                <div class="form-group row">
                    <label for="NetworkIP" class="col-sm-4 col-form-label">Manual Configuration IP Address:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="NetworkIP" value="192.168.1.2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NetworkNM" class="col-sm-4 col-form-label">Manual Configuration Network Mask:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="NetworkNM" value="255.255.255.0">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NetworkGW" class="col-sm-4 col-form-label">Manual Configuration Gateway Address:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="NetworkGW" value="192.168.1.1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="NetworkVLAN" class="col-sm-4 col-form-label">Manual Configuration Management VLAN:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="NetworkVLAN" value="0">
                        <small id="NetworkVLANhelp" class="form-text text-muted">A value of 0 will disable VLAN tagging.</small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="SSHmode">SSH Access</label>
                <select class="form-control" name="SSHmode">
                    <option value="2">SSH Enabled with password auth disabled and SSH keys added during install</option>
                    <option value="1">SSH Enabled at Install</option>
                    <option value="0" selected>SSH Disabled at Install (recommended)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ESXiVersion">ESXi Version</label>
                <select class="form-control" name="ESXiVersion">
                    <option value="2">6.7.0-20181104001</option>
                    <option value="1">6.5.0-20181104001</option>
                    <option value="0" selected>6.5.0-20180304001</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Generate Configuration</button>
        </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script>
        $( document ).ready(function() {
            $("#IPconfig0").hide();
            $('#NetworkMode').change(function(){
                if( $(this).val()==="0"){
                    $("#IPconfig0").show()
                } else {
                    $("#IPconfig0").hide()
                }
            });
	});
	</script>
    </body>
</html>
